@using System.Web.Optimization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MyTy.Blog.Web.ViewModels.PostIndexViewModel>

@{
	Layout = "Views/_Layout.cshtml";
}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/abstract-blurred-lines.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading">
					<h1>Clean Blog</h1>
					<hr class="small">
					<span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			@foreach (var post in Model.Posts) {
				<div class="post-preview">
					<a href="@post.Slug">
						<h2 class="post-title">
							@post.Title
						</h2>
						<h3 class="post-subtitle">
							@post.SubTitle
						</h3>
					</a>
					<p class="post-meta">Posted on @post.PostDate.ToString("D")</p>
				</div>
				<hr>
			}
			<!-- Pager -->
			<ul class="pager">
				<li class="next">
					<a href="#">Older Posts &rarr;</a>
				</li>
			</ul>
		</div>
	</div>
</div>
